*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

span{
    font-size: 5vw;
    font-weight: 700;
}

button{
    display: inline-block;
}

#gbox{
    padding: 0;
    height: 60vmin;
    width:60vmin;
    border: 1px solid rgb(237, 216, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(12, 25, 114);
}

.tile{
    box-sizing: border-box;
}

.head{
    background-image: url(unnamed.png);
    background-size: 100%;
    /* height: 200%;
    width: 100%; */
}

.buff{
    background-color: white;
    border-radius: 50%;
}

.food{
    background-color: rgb(255, 117, 117);
}

.tail{
    background-color: rgb(92, 224, 75);
}

.faceRight{
    transform: rotate(270deg);

}

.faceBottom{
    transform: rotate(0deg);
}

.faceLeft{
    transform: rotate(90deg);
}

.faceTop{
    transform: rotate(180deg);
}

.orange{
    background-color: orange;
}

.cyan{
    background-color: cyan;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.brown{
    background-color: brown;
}

.violet{
    background-color: violet;
}

.unEaten{
    height: 20px;
    width: 20px;
    display: inline-block ;
    margin: 3px;
}

.Eaten{
    height: 15px;
    width: 15px;
    display: inline-block ;
    margin: 3px;
}

.buff{
    background-color: aliceblue;
    border-radius: 50%;
    border: 0.5px solid black
}
